body {
    background-color: dimgray;
    font-family: monospace;
    font-size: 16px;
    color: floralwhite;
}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div img {
    width: 20%;
    border: none;
    border-radius: 20px;
}

h1 {
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;

}

li {
    transition: all 0.3s ease-in-out;
}

li:hover {
    transform: scale(1.2);
    transform-origin: left;
    color: chartreuse;
    cursor: pointer;
}

a {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 20px;
    text-decoration: none;
    color: floralwhite;
    transition: all 0.2s ease-in-out;
}

a:hover {
    transform: scale(1.2);
    transform-origin: left;
    color: chartreuse;
    cursor: pointer;
}