body {

    background-color: rgba(251, 241, 241, 0.653);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}

img {
    border-radius: 60px;
    width: 200px;
}

.contenedor {
    

    display: flex;
    flex-direction: column;
    align-items: center;
     margin-top: 10%;
     margin-left: 40%;
   

    width: 415px;
    height: 510px;
    background-color: #ffffff;
    border-radius: 90px;
    box-shadow: 20px 90px 70px rgba(207, 25, 116, 0.85);
    justify-content: center;
}

h1 {
    font-size: 45px;
}

span {
    font-size: 30px;
    margin-bottom: 40px;
}

a {
    margin-top: 20px;
    font-size: 30px;
    padding: 10px 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 143, 251);
    border-radius: 5px;
    transition: 0.2s ease-in;
}

a:hover {
    background-color: rgba(129, 5, 157, 0.636);
    
}